<div class="container">
    <div class="toolbar">
        <h4>Holdings({{holdings.length}})</h4>
        <select [(ngModel)]="selectedPortfolio" (ngModelChange)="onPortfolioChange($event)">
            <option *ngFor="let portfolio of allPortfolios" [ngValue]="portfolio">{{portfolio.name}}</option>
        </select>
        <button class="createPortfolio" routerLink="/portfolio/create">Create New</button>
    </div>    
    <table class="table table-hover holdings-table">
        <thead class="thead-light">
            <tr>
                <th *ngFor="let col of columns">
                    {{col}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let holding of holdings">
                <td class="symbol">{{holding.tradingsymbol}}</td>
                <td class="qty">{{holding.quantity}}</td>
                <td class="price">{{holding.averagePrice}}</td>
                <td class="price">{{holding.lastPrice}}</td>
                <td class="price" [ngClass]="{'positive': holding.netChange > 0, 'negative': holding.netChange < 0}">{{holding.pnL}}</td>
                <td class="price" [ngClass]="{'positive': holding.netChange > 0, 'negative': holding.netChange < 0}">{{holding.netChange.toFixed(2)}}%</td>
                <td [ngClass]="{'positive': holding.netChange > 0, 'negative': holding.netChange < 0}">{{holding.dayChange.toFixed(2)}}%</td>
            </tr>
        </tbody>
    </table>
</div>