<div class="container">
    <div class="toolbar">
        <h4>All Holdings({{allHoldings.length}})</h4>        
        <b>Portfolio Name </b><input type="text">
        <!-- <button class="createPortfolio">Modify</button> -->
        <button class="createPortfolio" (click)="savePortfolio()">Save</button>
    </div>    
    <table class="table table-hover holdings-table">
        <thead class="thead-light">
            <tr>
                <th *ngFor="let col of columns">
                    {{col}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let holding of allHoldings">
                <td class="symbol">{{holding.tradingsymbol}}</td>
                <td class="qty">{{holding.quantity}}</td>
                <td class="price">{{holding.averagePrice}}</td>
                <td class="price">{{holding.lastPrice}}</td>
                <td class="price" [ngClass]="{'positive': holding.netChange > 0, 'negative': holding.netChange < 0}">{{holding.pnL}}</td>
                <td class="price" [ngClass]="{'positive': holding.netChange > 0, 'negative': holding.netChange < 0}">{{holding.netChange.toFixed(2)}}%</td>
                <td [ngClass]="{'positive': holding.netChange > 0, 'negative': holding.netChange < 0}">{{holding.dayChange.toFixed(2)}}%</td>
                <td class="operation" *ngIf="!portfolio.holdings.includes(holding)"><button class="addButton" (click)="addToPortfolio(holding)"><span class="addSign">+</span></button></td>
                <td class="operation" *ngIf="portfolio.holdings.includes(holding)"><button class="addButton" (click)="removeFromPortfolio(holding)"><span class="addSign">-</span></button></td>
            </tr>
        </tbody>
    </table>
</div>